<%
  @priority = "low"
  if @pomodoro_estimate == '1'
    @priority = "low"
  elsif @pomodoro_estimate == '2' || @pomodoro_estimate == '3'
    @priority = "medium"
  elsif @pomodoro_estimate > '3'
    @priority = "high"
  end
%>
    <div>
      <h2 class="<%= @priority %>"><%= params[:id]%> <%=@todo_description%></h2>
      <input type="checkbox">
      <span> <%= @pomodoro_estimate %> Pomodoros</span>
      
      <a href="#" id="edit-todo-button">Edit</a>
      <a href="#" id="delete-todo-button">Delete</a>
      <a href="/todo/index.html" class="simple-link">Go back...</a>
    </div>